* {
  margin: 0;
  padding: 0;
}

:root {
  --prim: #ff4500;
  --dark: #111;
  --blue: #139dd3;
  --gold: #ffd700;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8)),
    url('./images/bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.head-top {
  position: absolute;
  width: 48px;
  height: 48px;
  background: var(--gold);
  border-radius: 50%;
  top: -10px;
  border: 2px solid var(--dark); 
}

.head {
  position: absolute;
  width: 144px;
  height: 144px;
  background: var(--gold);
  border-radius: 64px 64px 56px 56px;
  border: 2px solid var(--dark);
  top: 16px;
  z-index: 5;
}

.face {
  position: absolute;
  width: 112px;
  height: 112px;
  background: var(--prim);
  border-radius: 48px;
  border: 2px solid var(--dark);
  top: 32px;
  z-index: 5;
}

.face:before,
.face:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 48px;
  background: var(--dark);
  top: 32px;
  animation: eyes 3s 2s ease infinite;
}

@keyframes eyes {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}

.face:before {
  left: 30px;
}

.face:after {
  left: 76px;
}